# List and its default functions

In [81]:
lst = ["surendra",1,2,3]

In [82]:
# 1.append
lst.append(123)

In [83]:
lst

['surendra', 1, 2, 3, 123]

In [84]:
# 2.remove
lst.remove("surendra")

In [85]:
lst

[1, 2, 3, 123]

In [86]:
# 3.count
lst.count(1)

1

In [87]:
# 4.reverse
lst.reverse()

In [88]:
lst

[123, 3, 2, 1]

In [89]:
# 5.sort
lst.sort()

In [90]:
lst

[1, 2, 3, 123]

# Dictionary and its default functions.

In [91]:
dit = {"name":"surendra","age":20,"mobile":1234567}

In [92]:
dit

{'name': 'surendra', 'age': 20, 'mobile': 1234567}

In [93]:
# 1.get
dit.get("age")

20

In [94]:
# 2.keys
dit.keys()

dict_keys(['name', 'age', 'mobile'])

In [95]:
# 3.values
dit.values()

dict_values(['surendra', 20, 1234567])

In [96]:
# 4.update
dit2 = {"email":"surendra@gmail.com"}
dit.update(dit2)

In [97]:
dit

{'name': 'surendra',
 'age': 20,
 'mobile': 1234567,
 'email': 'surendra@gmail.com'}

In [98]:
# 5.items
dit.items()

dict_items([('name', 'surendra'), ('age', 20), ('mobile', 1234567), ('email', 'surendra@gmail.com')])

# Sets and its default functions.

In [67]:
st = {1,1,2,2,2,3,4,4,5,"surendra"}

In [68]:
# 1.add
st.add(100)

In [69]:
st

{1, 100, 2, 3, 4, 5, 'surendra'}

In [70]:
# 2.update
st.update(["mango"])

In [71]:
st

{1, 100, 2, 3, 4, 5, 'mango', 'surendra'}

In [72]:
# 3.length
st.pop()
st

{100, 2, 3, 4, 5, 'mango', 'surendra'}

In [73]:
# 4.remove
st.remove("surendra")

In [74]:
st

{100, 2, 3, 4, 5, 'mango'}

In [75]:
# 5.discard
st.discard("mango")

In [76]:
st

{2, 3, 4, 5, 100}

# Tuple and explore default methods

In [77]:
tup = ("python","java","C","C++","java")

In [78]:
tup

('python', 'java', 'C', 'C++', 'java')

In [79]:
len(tup)

5

In [101]:
# 1.count
tup.count("java")

2

In [102]:
# 2.index
tup.index("python")

0

# Strings and explore default methods

In [109]:
str = " Surendra"

In [110]:
str

' Surendra'

In [113]:
# 1.Split
str.split()

['Surendra']

In [114]:
# 2.Lower
str.lower()

' surendra'

In [116]:
# 3.Upper
str.upper()

' SURENDRA'

In [117]:
# 4.Replace
str.replace("Su","Na")

' Narendra'

In [119]:
# 5.
str.count("r")

2